@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    background-image: url('https://potential-sniffle-x7766qjp4vj3p4v6-3000.app.github.dev/img/fondopets.png');
    background-position: center;
    /*     background-size: 100%;
 */

    font-family: "Nunito";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}